{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
<div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header">
                            <h3 class="text-center font-weight-light my-4">Vous avez déjà un compte ?</h3>
                        </div>
    <div class="card-body">
    <div class="form-group">
                                    <label class="small mb-1" for="inputEmail">Email</label>
                                    <input class="form-control py-4" id="inputEmailAddress" name="email" type="email"
                                        placeholder="Entrer l'adresse mail" value="{{ last_username }}" name="email" id="inputEmail"  autocomplete="email" required autofocus/>
                                </div>
    <div class="form-group">
                                    <label class="small mb-1" for="inputPassword">Mot de passe</label>
                                    <input class="form-control py-4" id="inputPassword" name="password" type="password"
                                        placeholder="Entrer le mot de passe" autocomplete="current-password" required />
                                </div>
    

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
<div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" id="rememberPasswordCheck"
                                            type="checkbox" />
                                        <label class="custom-control-label" for="rememberPasswordCheck">Se souvenir de
                                            moi</label>
                                    </div>
                                </div>
                                
    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>

 </div>
                        <div class="card-footer text-center">
                            <div class="small"><a href="{{ path('app_register') }}">Première visite ? S'inscrire!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
