{% extends 'base.html.twig' %}

{% block title %}Liste des recettes{% endblock %}

{% block body %}
    <h1>Liste des recettes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Ingredient</th>
                <th>Created_at</th>
                <th>Duration</th>
                <th>Nb_person</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.ingredient }}</td>
                <td>{{ article.createdAt ? article.createdAt|date('d/m/Y H:i') : '' }}</td>
                <td>{{ article.duration }}</td>
                <td>{{ article.nbPerson }}</td>
                <td>
                    <a href="{{ path('recipes_show', {'id': article.id}) }}">voir</a>
                    {# <a href="{{ path('recipes_edit', {'id': article.id}) }}">modifier</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">pas de recette trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('recipes_add') }}">Ajouter une nouvelle recette</a>
{% endblock %}
