{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block body %}

	<div class="table container">
		<div class="row">
			<div><h1 >Mes dernières recettes</h1></div>
			<div><button type="button" class="btn btn-danger">
				<a href="{{ path('recipes_add') }}">Ajouter une nouvelle recette</a>
			</button></div>

		</div>
	</div>
	{% for article in articles %}


		<div class="table container">
			<div class="row">
				<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
					<div class="card-header">{{ article.createdAt ? article.createdAt|date('d-m-Y H:i') : '' }}</div>
					<div class="card-body">
						<h5 class="card-title">{{ article.title }}</h5>
						<p class="card-text">
							<a href="{{ path('recipes_show', {'id': article.id}) }}">Voir la recette</a>
						    <a href="{{ path('recipes_edit', {'id': article.id}) }}">Modification de la recette</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	{% else %}
		<tr>
			<td colspan="8">no records found</td>
		</tr>
	{% endfor %}
	{# </table> #}


{% endblock %}
