{% extends 'base.html.twig' %}

{% block title %}Détails de la recette{% endblock %}

{% block body %}
<!-- Receipe Slider -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <img src="{{asset('/uploads/' ~ article.recipeImage)}}" alt="Image" width="150">
        </div>
    </div>
</div>

<!-- Receipe Content Area -->
<div class="receipe-content-area d-flex m-auto w-75">
    <div class="container m-auto">

        <div class="row">
            <div class="col-12 col-md-8">
                <div class="receipe-headline my-5">
                    <h1 class="text-center text-uppercase p-5">{{ article.title }} </h1>
                    <span class="mb-5">Publié le
                        {{ article.createdAt ? article.createdAt|date('d/m/Y H:i') : '' }}</span>

                    <div class="border-start border-success border-4 m-4 p-2">
                        <h6>Prep: {{ article.duration }} minutes</h6>

                        <h6>{{ article.nbPerson }} personnes</h6>
                    </div>
                </div>
            </div>

        </div>
        <div class="row mb-5">
            <!-- Ingredients -->
            <div class="col-12 col-lg-4">
                <div class="ingredients">
                    <h4 class="text-danger fw-bold"><u>Ingrédients</u></h4>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-checkbox">
                        <p>{{ article.ingredient |nl2br}} </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-8">
                <!-- Single Preparation Step -->
                <h4 class="text-danger fw-bold"><u>Préparation</u></h4>
                <div class="single-preparation-step d-flex">
                    {# <h4>01.</h4> #}
                    <p> {{ article.content|nl2br }} </p>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12 col-lg-8">
                <a href="{{ path('recipes_index') }}">Voir toutes les recettes</a>

            </div>
        </div>
    </div>
</div>
{% endblock %}